{%  extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <div id="div_evolutionChart" class="col-md-6 col-md-offset-1"></div>

        <script type="text/javascript">
            {{ gc_draw(evolutionChart, 'div_evolutionChart') }}
        </script>
        {{  render(controller('App\\Controller\\PosteController::displayPostesSite', {'site': site})) }}
    </div>
{% endblock %}