{%  extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div id="div_evolutionChart"></div>

    <script type="text/javascript">
        {{ gc_draw(evolutionChart, 'div_evolutionChart') }}
    </script>
    {{  render(controller('App\\Controller\\PosteController::displayPostesSite', {'site': site})) }}
{% endblock %}