{# site.html.twig #}
{%  extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <p class="text-center h1">{{ site.nomSite }}</p>
    <div class="container-fluid">
        <div id="div_evolutionChart" class="col-md-6 col-md-offset-1"></div>
        <script type="text/javascript">
            {{ gc_draw(evolutionChart, 'div_evolutionChart') }}
        </script>
        {% block liste_poste %}
            {{  render(controller('App\\Controller\\PosteController::displayPostesSiteAction', {'site': site})) }}
        {% endblock %}
    </div>
{% endblock %}