{%  block liste_poste %}
    <div class="container-fluid col-md-12">
        <div id="tabs" class="nav nav-pills nav-stacked">
            <ul class="nav nav-pills postes">
                {% for poste in liste_postes %}
                    <li class="nav-pills container">
                        <a data-toggle="pill" href="{{ path('recap_chart', {'codePoste': poste.codePoste})}}">
                            {{ poste.codePoste }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}