{%  block liste_poste %}
    <div id="tabs" class="nav nav-pills">
        <ul class="nav nav-pills">
            {%  for poste in liste_postes %}
                <li>
                    <a data-toggle="pill" href="{{ path('recap_chart', {'codePoste': poste.codePoste})}}">
                        {{ poste.codePoste }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}