/* Global */
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 10em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; text-align: center; color: white; }
.ui-tabs-vertical .ui-tabs-nav a { background-color: #3667AB; color: white;}
.ui-tabs-vertical .ui-tabs-nav a:hover { background-color: white; color: #3667AB;}
.ui-tabs-vertical .ui-tabs-nav a:focus { background-color: #142f46; color: #EAEAEA;}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; background-color: #EAEAEA; color: #3667AB}
.ui-tabs-vertical .ui-tabs-panel { padding-left: 1em;}

.cadre {
  border-radius: 1px;
  border: solid #3E567A;
}

.background{
  background-color: #EAEAEA;
}

.navbar{
  background-color: #3E567A;
}

.navbar-nav a{
  color: whitesmoke;
}
.navbar-brand{
  color: whitesmoke;
}
.postes{
  max-height: 560px;
  min-width: 150px;
  overflow-y: auto;
  direction: rtl;
}
/* 1B2E42  3667AB 3E567A*/
.bouton-2-style{
  background-color: #EAEAEA;
}