{%  block barre_sites %}
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">BCU Stats</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bcuNavbar">
                    <span class="icon-bar bouton-2-style"></span>
                    <span class="icon-bar bouton-2-style"></span>
                    <span class="icon-bar bouton-2-style"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bcuNavbar">
                <ul class="nav navbar-nav">
                {%  for site in liste_sites %}
                    <li class="active">
                        <a href="{{ path('recap_site', { 'idSite': site.idSite }) }}">
                            {{ site.nomSite }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}