{%  extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid">
            <div class="col-lg-6" id="div_piechart"></div>
            <div class="col-lg-6" id="div_linechart"></div>
            <script type="text/javascript">
                {{ gc_draw([piechart, linechart], ['div_piechart', 'div_linechart']) }}
            </script>
        </div>
        {% block form %}
            {% if app.request.get('_route') == 'index' %}
                {{  render(controller('App\\Controller\\FormController::newFormAction')) }}
            {% endif %}
        {% endblock %}
{% endblock %}